<div class="modal fade" id="editDistrictReportModal{{report.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Update Report</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'edit-report' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                  <input type="hidden" name="report_id" id="report_id" value="{{report.id}}" readonly/>
                <div class="row mb-3">
                    <div class="col">
                    <label class="form-label fw-bold">District</label>
                    <select class="form-select" id="district" name="district" required>
                        <option value="{{report.district.id}}">{{report.district.name}}</option>
                        {% for district in districts %}
                            {% if district.id != report.district.id %}
                                <option value="{{district.id}}">{{district.name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label fw-bold">Month</label>
                        <select class="form-select" id="month" name="month" required>
                            <option value="{{report.month}}">{{report.month}}</option>
                            {% for month in months %}
                                {% if month != report.month %}
                                    <option value="{{month}}">{{month}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <label class="form-label fw-bold">Year</label>
                        <select class="form-select" id="year" name="year" required>
                            <option value="{{report.year}}">{{report.year}}</option>
                            {% for year in years %}
                                {% if year != year.month %}
                                    <option value="{{year}}">{{year}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="text-center mt-3">
                  <input type="submit" class="btn btn-primary w-30" value="Update Report" />
                </div>
              </div>
            </form>
      </div>
    </div>
  </div>