{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="table-card mb-4">
    <div class="row py-3 px-2">
        <div class="col">
            <h3 class="fw-bold">District Month Report</h3>
        </div>
        
        <div class="col">

            <a href="{% url 'district-report' report.id %}" class="btn btn-warning">Print District Report</a>
        </div>
    </div>
</div>

<div class="table-card mb-4">
    <div class="row py-3 px-2">
        <div class="col">
            <h3>Sections Monthly Data</h3>
        </div>
    </div>
    <div class="loader" id="loader"></div>
    <!-- Table Container -->
    <div class="table-container px-2">
        <table class="table data-table table-sm table-borders-all">
            <thead>
                <tr class="table-headers-borders">
                    <th></th>
                    <th><span>Section</span></th>
                    <th><span>General Fund</span></th>
                    <th><span>Sunday School</span></th>
                    <th><span>Pastors Fund</span></th>
                    <th><span>Presbyter Tithe</span></th>
                    <th><span>Pastor's Tithe</span></th>
                    <th><span>Easter Building</span></th>
                    <th><span>Kenya Kids</span></th>
                    <th><span>Special Offering</span></th>
                    <th><span>Adult Att.</span></th>
                    <th><span>Children Att.</span></th>
                </tr>
            </thead>
            <tbody id="tableBody">
                {% for section_report in reports %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ section_report.section__name }}</td>
                    <td>{{ section_report.total_general_fund }}</td>
                    <td>{{ section_report.total_sunday_school }}</td>
                    <td>{{ section_report.total_pastors_fund }}</td>
                    <td>{{ section_report.total_presbyter_tithe }}</td>
                    <td>{{ section_report.total_pastors_tithe }}</td>
                    <td>{{ section_report.total_easter }}</td>
                    <td>{{ section_report.total_kenya_kids }}</td>
                    <td>{{ section_report.total_special_offering}}</td>
                    <td>{{ section_report.total_adult }}</td>
                    <td>{{ section_report.total_children }}</td>
                    
                    {% include "districts/edit_section_data.html" %}
                    {% include "districts/delete_section_data.html" %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="12" class="text-center py-4">
                        No finances found
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td><b>Totals</b></td>
                    <td><b>{{ total_general_fund }}</b></td>
                    <td><b>{{ total_sunday_school }}</b></td>
                    <td><b>{{ total_pastors_fund }}</b></td>
                    <td><b>{{ total_presbyter_tithe }}</b></td>
                    <td><b>{{ total_pastors_tithe }}</b></td>
                    <td><b>{{ easter_total }}</b></td>
                    <td><b>{{ kenya_kids }}</b></td>
                    <td><b>{{ special_offering }}</b></td>
                    <td><b>{{ total_adult_attendance }}</b></td>
                    <td><b>{{ total_children_attendance }}</b></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<div class="table-card mb-4">
    <div class="row py-3 px-2">
        <div class="col">
            <h3>District Expenses</h3>
        </div>
        <div class="col">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#captureDistrictExpenseModal{{report.id}}">Record District Expense</button>
        </div>
    </div>
    <!-- Table Toolbar --> 
    <!-- Loading Bar -->
    <div class="loader" id="loader"></div>

    <!-- Table Container -->
    <div class="table-container px-2">
        <table class="table data-table table-sm">
            <thead>
                <tr>
                    <th></th>
                    <th>Expense Name</th>
                    <th>Amount</th>
                    <th>Recorded On</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                {% for expense in expenses %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ expense.expense_name }}</td>
                    <td>{{ expense.amount_spend }}</td>
                    <td>{{ expense.created_at }}</td>
                </tr>
                
                {% empty %}
                <tr>
                    <td colspan="8" class="text-center py-4">
                        No expenses found
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td><b>Grand Total</b></td>
                    <td><b>{{ total_expenses }}</b></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% include "districts/expenses/new_expense.html" %}

<div class="table-card mb-4">
   
    <!-- Table Toolbar --> 
    <!-- Loading Bar -->
    <div class="loader" id="loader"></div>

    <!-- Table Container -->
    <div class="row py-3 px-2">
        <div class="col">
            <h3>Section A.</h3>
            <div class="table-container px-2">
                <table class="table data-table table-sm">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        <tr>
                            <td>1.</td>
                            <td>KAGDOM</td>
                            <td>{{ total_kagdom }}</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>District Missions</td>
                            <td>{{ total_district_missions }}</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Resource Mobilisation</td>
                            <td>{{ total_resource_mobilisation }}</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>Church Support</td>
                            <td>{{ total_church_support }}</td>
                        </tr>

                        <tr>
                            <td>5.</td>
                            <td>Church Welfare</td>
                            <td>{{ total_church_welfare }}</td>
                        </tr>
                
                    </tbody>
                </table>
            </div>
        </div>
       
        <div class="col">
            <h3>FOR NATIONAL OFFICE</h3>
            <div class="table-container px-2">
                <table class="table data-table table-sm">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        <tr>
                            <td>1.</td>
                            <td>10% General Fund</td>
                            <td>{{ ten_percent_general_fund }}</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>5% Sunday School</td>
                            <td>{{ five_percent_sunday_school }}</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>5% Hazina ya Mchungaji</td>
                            <td>{{ five_percent_pastors_tithe }}</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <td>Half Easter Offering</td>
                            <td>{{ half_easter_offering }}</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <td>Kenya Kids</td>
                            <td>{{ kenya_kids }}</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <td>Sadaka Maalum</td>
                            <td>{{ special_offering }}</td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <td>Fungu la Kumi la Dist. Supt</td>
                            <td>{{ district_supt_tithe }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><b>Grand Totals</b></td>
                            <td><b>{{ district_total }}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>
{% endblock content %}
