<div class="modal fade" id="editSavingsModal{{saving.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Edit Department Savings</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="#" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <input type="hidden" name="savings_id" id="savings_id" value="{{saving.id}}" readonly required />
                <div class="row mb-3">
                    <div class="col">
                    <label for="exampleInputPassword1" class="form-label fw-bold">Department</label>
                    <select class="form-select" id="department" name="department" required>
                        <option value={{saving.department.id}}>{{saving.department.name}}</option>
                        {% for department in departments %}
                            {% if department.id != saving.department.id %}
                                <option value={{department.id}}>{{department.name}}</option>
                            {% endif %}
                         {% endfor %}
                      </select>
                  </div>
                    <div class="col">
                      <label for="exampleInputPassword1" class="form-label fw-bold">Branch</label>
                      <select class="form-select" id="branch" name="branch" required>
                        <option value={{saving.branch.id}}>{{saving.branch.name}}</option>
                        {% for branch in branches %}
                            {% if branch.id != saving.branch.id %}
                                <option value={{branch.id}}>{{branch.name}}</option>
                            {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
  
                <div class="row mb-2">
                  <div class="col">
                    <label for="exampleInputPassword1" class="form-label fw-bold">Total Amount</label>
                    <input
                      type="number"
                      class="form-control"
                      id="amount"
                      name="amount"
                      value="{{saving.amount}}"
                      required
                    />
                  </div>
                  <div class="col">
                    <label for="exampleInputPassword1" class="form-label fw-bold">Savings Date</label>
                    <input
                      type="date"
                      class="form-control"
                      id="savings_date"
                      name="savings_date"
                      value="{{saving.savings_date|date:'Y-m-d'}}"
                        required
                    />
                  </div>
                </div>               
                <div class="text-center mt-3">
                  <button type="submit" class="btn btn-primary w-30">Edit Savings</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>