<div class="modal fade" id="editMoneyAccountModal{{account.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Edit Money Account</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'edit-money-account' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <input type="hidden" id="account_id" name="account_id" value="{{account.id}}" readonly />
                <div class="row mb-3">
                    <div class="col">
                      <label for="exampleInputPassword1" class="form-label fw-bold">Account Name</label>
                      <input
                      type="text"
                      class="form-control"
                      id="account_name"
                      name="account_name"
                      value="{{account.account_name}}"
                        required
                    />
                    </div>
                  </div>
  
                <div class="row mb-2">
                  <div class="col">
                    <label for="exampleInputPassword1" class="form-label fw-bold">Account Type</label>
                    <select class="form-select" id="account_type" name="account_type">
                        <option value="{{account.account_type}}">{{account.account_type}}</option>
                        {% for account_type in account_types %}
                            {% if account_type != account.account_type %}
                                <option value="{{account_type}}">{{account_type}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                  </div>
                
                </div> 
                <div class="row mb-2">
                  <div class="col">
                    <label for="exampleInputPassword1" class="form-label fw-bold">Balance</label>
                    <input
                      type="number"
                      class="form-control"
                      id="balance"
                      name="balance"
                      value="{{account.balance}}"
                      readonly
                      required
                    />
                  </div>
                </div>  
                
                <div class="text-center mt-3">
                  <button type="submit" class="btn btn-primary w-30">Edit Money Account</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>