{% extends "base.html" %}

{% block content %}
<!-- Stats Row -->
<div class="dashboard">
    <div class="row g-4 mb-4">
       <div class="col-xl-6 col-md-6">
            <div class="card card-stat h-80">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="text-church-primary">ACCOUNT NAME</h6>
                            <h3 class="text-church-secondary">{{account.account_name}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-6">
        <div class="card card-stat h-80">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="text-church-primary">ACC. BALANCE</h6>
                        <h3 class="text-church-secondary">{{account.balance}} Kes.</h3>
                    </div>
                    <i class="fas fa-hand-holding-heart stats-icon text-church-gold"></i>
                </div>
            </div>
        </div>
    </div>
    </div>
   
<div class="table-card">
    <div class="row py-3 px-2">
        <div class="col">
            <h3>Latest Transactions</h3>
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Search..." 
            id="searchInput" value="{{ search_query }}">
        </div>
        <div class="col">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#transferMoneyModal{{account.id}}">Transfer Money</button>
          </div>
    </div>
    {% include "money_accounts/transfer_money.html" %}
 
    <div class="loader" id="loader"></div>

    <!-- Table Container -->
    <div class="table-container px-2">
        <table class="table data-table table-sm">
            <thead>
                <tr>
                    <th></th>
                    <th>Source</th>
                    <th>Destination</th>
                    <th>Direction</th>
                    <th>Amount</th>
                    <th>User</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                {% for transaction in account_transactions %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ transaction.source }}</td>
                    <td>{{  transaction.destination}}</td>
                    <td>{{  transaction.transaction_type}}</td>
                    <td>{{  transaction.amount}}</td>
                    <td>{{ transaction.transferred_by }}</td>
                    <td>{{  transaction.created_at|date:'Y-m-d'}}</td>     
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" class="text-center py-4">
                        No transactions found
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
<div class="table-footer">
    <div class="page-info">
        Showing 
        {{ page_obj.start_index }} 
        to 
        {{ page_obj.end_index }} 
        of 
        {{ paginator.count }} 
        entries
    </div>
</div>
</div>
</div>
{% endblock content %}
