{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="table-card">
    <div class="row py-3 px-2">
        <div class="col">
            <h3 class="fw-bold">KAG Pastor Associates</h3>
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Search..." 
            id="searchInput" value="{{ search_query }}">
        </div>
        <div class="col">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newPastorAssociateModal">New Pastor Associate</button>
          </div>
    </div>
    <!-- Table Toolbar --> 
    <!-- Loading Bar -->
    <div class="loader" id="loader"></div>

    <!-- Table Container -->
    <div class="table-container px-2">
        <table class="table data-table table-sm">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Phone Number</th>
                    <th>Church</th>
                    <th>Role</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tableBody">
                {% for pastor in pastors %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ pastor.first_name }} {{ pastor.last_name }}</td>
                    <td>{{ pastor.gender }}</td>
                    <td>{{ pastor.phone_number }}</td>
                    <td>{{ pastor.church }}</td>
                    <td>{{ pastor.pastor_role }}</td>
                    <td>
                        <div class="d-flex gap-1">
                            <a class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editPastorAssociateModal{{pastor.id}}"><i class="fas fa-edit"></i></a>
                        </div>
                    </td>
                   {% include "districts/pastors/edit_pastor_associate.html" %}
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" class="text-center py-4">
                        No pastor associates found
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

  <div class="table-footer">
    <div class="page-info">
        Showing 
        {{ page_obj.start_index }} 
        to 
        {{ page_obj.end_index }} 
        of 
        {{ paginator.count }} 
        entries
    </div>

</div>
</div>

{% include "districts/pastors/new_pastor_associate.html" %}
{% endblock content %}

{% block additional_scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const searchInput = document.getElementById('searchInput');
        const loader = document.getElementById('loader');
        let searchTimeout;

        // Search functionality
        searchInput.addEventListener('keyup', function() {
            clearTimeout(searchTimeout);
            loader.classList.add('active');

            searchTimeout = setTimeout(() => {
                const searchQuery = this.value;
                window.location.href = `?search=${encodeURIComponent(searchQuery)}`;
            }, 500);
        });
        
    });
</script>
{% endblock additional_scripts %}