<div class="modal fade" id="newDistrictChurchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center fw-bold">New Church</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'new-district-church' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                  <div class="row mb-3">
                    <div class="col">
                    <label class="form-label fw-bold">Section</label>
                    <select class="form-select" id="section" name="section" required>
                        {% for section in sections %}
                            <option value={{section.id}}>{{section.name}}</option>
                         {% endfor %}
                      </select>
                  </div>
                </div>
                  <div class="row mb-3">
                <div class="col">
                  <label for="exampleInputPassword1" class="form-label fw-bold">Branch Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    required
                  />
                </div>
             
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <label for="exampleInputPassword1" class="form-label fw-bold">Town</label>
                    <input
                      type="text"
                      class="form-control"
                      id="town"
                      name="town"
                      required
                    />
                  </div>
              
                </div>
               
                <div class="row mb-3">
                  <div class="col">
                    <label for="exampleInputPassword1" class="form-label fw-bold">Branch Location</label>
                      <input
                        type="text"
                        class="form-control"
                        id="location"
                        name="location"
                        required
                      />
                  </div>  
                </div>
                <div class="text-center mt-3">
                  <button type="submit" class="btn btn-primary w-30">Create Church</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>