{% extends "base.html" %}

{% block content %}
<!-- Stats Row -->
<div class="row g-4 mb-4">
            <div class="col-xl-6 col-md-6">
                <div class="card card-stat h-80">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h6 class="text-church-primary">Total Members</h6>
                                <h3 class="text-church-primary">{{total_members}}</h3>
                            </div>
                            <i class="fas fa-users stats-icon text-church-gold"></i>
                        </div>
                       
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-6">
                <div class="card card-stat h-80">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h6 class="text-church-secondary">Monthly Tithes</h6>
                                <h3 class="text-church-secondary">{{tithes_total}} Kes</h3>
                            </div>
                            <i class="fas fa-church stats-icon text-church-gold"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-6">
                <div class="card card-stat h-80">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h6 class="text-church-primary">Department Savings</h6>
                                <h3 class="text-church-primary">{{total_department_savings}} Kes.</h3>
                            </div>
                            <i class="fas fa-piggy-bank stats-icon text-church-gold"></i>
                        </div>
                      
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-6">
                <div class="card card-stat h-80">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h6 class="text-church-secondary">Total Offerings</h6>
                                <h3 class="text-church-secondary">{{total_offerings}} Kes</h3>
                            </div>
                            <i class="fas fa-hand-holding-heart stats-icon text-church-gold"></i>
                        </div>
                      
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-6">
                <div class="card card-stat h-80">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h6 class="text-church-secondary">Projects Contributions</h6>
                                <h3 class="text-church-secondary">{{projects_contributions}} Kes</h3>
                            </div>
                            <i class="fas fa-hammer stats-icon text-church-gold"></i>
                        </div>
                     
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-6">
                <div class="card card-stat h-80">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h6 class="text-church-secondary">Project Pledges</h6>
                                <h3 class="text-church-secondary">{{projects_pledges}} Kes</h3>
                            </div>
                            <i class="fas fa-handshake stats-icon text-church-gold"></i>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-4 mb-4">
            <div class="col-md-8">
                <div class="chart-container">
                    <h5 class="chart-title fw-bold">Monthly Offerings Overview</h5>
                    <canvas id="monthlyOfferingChart"></canvas>
                </div>
            </div>
            <div class="col-md-4">
                <div class="chart-container">
                    <h5 class="chart-title fw-bold">Attendance Distribution</h5>
                    <canvas id="serviceAttendanceChart"></canvas>
                </div>
            </div>
        </div>
   
{% endblock content %}

{% block additional_scripts %}
<script>
    
    // Attendance Chart
    let attendanceChart;
    let serviceAttendanceChart;
    let monthlyOfferingsChart;

    const initialData = {
        service_attendance: {
            labels: JSON.parse('{{ service_attendance.labels|safe }}'),
            attendances: JSON.parse('{{ service_attendance.attendances|safe }}'),
        },
        monthly_offerings: {
            labels: JSON.parse('{{ monthly_offerings.labels|safe }}'),
            offerings: JSON.parse('{{ monthly_offerings.offerings|safe }}')
        }
    };

      function initCharts(yearData) {
        const serviceAttendanceCtx = document.getElementById('serviceAttendanceChart').getContext('2d');
        const monthlyOfferingsCtx = document.getElementById('monthlyOfferingChart').getContext('2d');

        if (serviceAttendanceChart) {
            serviceAttendanceChart.destroy();
        }

        if (monthlyOfferingsChart) {
            monthlyOfferingsChart.destroy();
        }

        serviceAttendanceChart = new Chart(serviceAttendanceCtx, {
            type: 'pie',
            data: {
                labels: yearData.service_attendance.labels,
                datasets: [{
                    data: yearData.service_attendance.attendances,
                    backgroundColor: [
                        '#FF6384',
                        '#36A2EB',
                        '#FFCE56',
                        '#4BC0C0',
                        '#9966FF',
                        '#FF9F40'
                    ],
                    hoverOffset: 4
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'bottom',
                    },
                    title: {
                        display: false,
                        text: 'Service Attendance Distribution'
                    }
                }
            }
        });

        // Monthly Offerings Line Chart
        monthlyOfferingsChart = new Chart(monthlyOfferingsCtx, {
            type: 'line',
            data: {
                labels: yearData.monthly_offerings.labels,
                datasets: [{
                    label: 'Monthly Offerings (Kes)',
                    data: yearData.monthly_offerings.offerings,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    fill: true,
                    tension: 0.1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }


    document.addEventListener('DOMContentLoaded', function() {
        initCharts(initialData);
        
        // Year filter change event
        document.getElementById('yearFilter').addEventListener('change', function() {
            const selectedYear = this.value;
            
            // Fetch data for the selected year
            fetch(`/api/chart-data/?year=${selectedYear}`)
                .then(response => response.json())
                .then(data => {
                    // Update charts
                    initCharts(data);
                    console.log(data);
                })
                .catch(error => {
                    console.error('Error fetching chart data:', error);
                });
        });
    });
    
    
    </script>
{% endblock additional_scripts %}
